/Server/NewProvidenceServer/UserLoginDetails.data
/Server/NewProvidenceServer/HostedFiles.data
/Server/NewProvidenceServer/_HostedFiles
/Server/NewProvidenceServer/_UserInbox
/Server/NewProvidenceServer/_UserNotifications
/Server/NewProvidenceServer/Debug
/Client/.vs
/Client/Debug
/Client/NewProvidence/Debug
/Server/Debug
/Server/.vs
/Server/NewProvidenceServer/LatestUploads.data
/Client/NewProvidence/_DownloadedFiles/_download.tempfile
/Client/NewProvidence/_DownloadedFiles/fileToTransfer.png
/Client/NewProvidence/_DownloadedFiles
/Client/Release
/Client/NewProvidence/Release/NewProvidence.log
/Client/NewProvidence/Release/NewProvidence.tlog/CL.command.1.tlog
/Client/NewProvidence/Release/NewProvidence.tlog/CL.read.1.tlog
/Client/NewProvidence/Release/NewProvidence.tlog/CL.write.1.tlog
/Client/NewProvidence/Release/NewProvidence.tlog/NewProvidence.lastbuildstate
/Client/NewProvidence/Release/NewProvidence.tlog/NewProvidence.write.1u.tlog
/Client/NewProvidence/Release/NewProvidence.tlog/link.command.1.tlog
/Client/NewProvidence/Release/NewProvidence.tlog/link.read.1.tlog
/Client/NewProvidence/Release/NewProvidence.tlog/link.write.1.tlog
/Client/NewProvidence/Release/main.obj
/Client/NewProvidence/Release/vc141.pdb
/Server/NewProvidenceServer/Release/NewProvi.6C15861C.tlog/CL.command.1.tlog
/Server/NewProvidenceServer/Release/NewProvi.6C15861C.tlog/CL.read.1.tlog
/Server/NewProvidenceServer/Release/NewProvi.6C15861C.tlog/CL.write.1.tlog
/Server/NewProvidenceServer/Release/NewProvi.6C15861C.tlog/NewProvidenceServer.lastbuildstate
/Server/NewProvidenceServer/Release/NewProvi.6C15861C.tlog/NewProvidenceServer.write.1u.tlog
/Server/NewProvidenceServer/Release/NewProvi.6C15861C.tlog/link.command.1.tlog
/Server/NewProvidenceServer/Release/NewProvi.6C15861C.tlog/link.read.1.tlog
/Server/NewProvidenceServer/Release/NewProvi.6C15861C.tlog/link.write.1.tlog
/Server/NewProvidenceServer/Release/NewProvidenceServer.log
/Server/NewProvidenceServer/Release/Source.obj
/Server/NewProvidenceServer/Release/vc141.pdb
/Server/Release/NewProvidenceServer.exe
/Server/Release/NewProvidenceServer.iobj
/Server/Release/NewProvidenceServer.ipdb
/Server/Release/NewProvidenceServer.pdb
/Server/NewProvidenceServer/TestImage1.png
/Server/NewProvidenceServer/TestImage2.png
/Server/NewProvidenceServer/TestImage3.png
/Server/NewProvidenceServer/TestImage4.png
/Server/NewProvidenceServer/TestImage5.png
/Server/NewProvidenceServer/TestImage6.png
/Server/NewProvidenceServer/TestImage7.png
/Server/NewProvidenceServer/_DownloadedFiles/TestImage8.png
/Client/NewProvidence/TestImage8.png
/Server/Release
/Server/NewProvidenceServer/The Thirteenth Floor (1999 - 1080p).mp4
/Client/NewProvidence/Release/NewProvidence.Build.CppClean.log
/Client/NewProvidence/Release/NewProvidence.tlog/unsuccessfulbuild
/Server/NewProvidenceServer/_FilesToHost/TestImage1.png
/Server/NewProvidenceServer/_FilesToHost/TestImage2.png
/Server/NewProvidenceServer/_FilesToHost/TestImage3.png
/Server/NewProvidenceServer/_FilesToHost/TestImage4.png
/Server/NewProvidenceServer/_FilesToHost/TestImage5.png
/Server/NewProvidenceServer/_FilesToHost/TestImage6.png
/Server/NewProvidenceServer/_FilesToHost/TestImage7.png
/Server/NewProvidenceServer/_FilesToHost/The Thirteenth Floor (1999 - 1080p).mp4
/Server/NewProvidenceServer/_FilesToHost/UserLoginDetails.data
/Server/NewProvidenceServer/_FilesToHost
/Server/NewProvidenceServer/_DownloadedFiles
/Client/NewProvidence/Release
/Client/NewProvidence/_FilesToUpload
/Client/NewProvidence/TestDocument.txt
/Server/NewProvidenceServer/_UserUploads
/Server/NewProvidenceServer/Release
/New Providence Upload Page.png
/Server/NewProvidenceServer/FileDatabase
/Server/NewProvidenceServer/FileDatabase - CORRECT
/Server/NewProvidenceServer/UserDatabase
/FileDatabase_Backup_190504
/_Concept
