/Server/NewProvidenceServer/UserLoginDetails.data
/Server/NewProvidenceServer/HostedFiles.data
/Server/NewProvidenceServer/_HostedFiles
/Server/NewProvidenceServer/_UserInbox
/Server/NewProvidenceServer/_UserNotifications
/Server/NewProvidenceServer/Debug
/Client/.vs
/Client/Debug
/Client/NewProvidence/Debug
/Server/Debug
/Server/.vs
/Server/NewProvidenceServer/LatestUploads.data
